[defaults]
inventory = ./inventory.yml
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = ./roles
collections_path = ./collections
stdout_callback = default
color = True
vars_plugins = ./group_vars:./host_vars

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
